<!DOCTYPE html>
<html>
    <head>
        <title> ECT Hub </title>
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    </head>
    <body style="background-color:powderblue;">
        {% include 'navbar.html' %}
        {% if messages %}
            {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">
                {{ message }}
            </div>
            {% endfor %}
        {% endif %}
        {% block content %}
        replace me 
        {% endblock %}     
    </body>
</html>