{% extends 'base.html' %}

{% block content %}
 <table class="table" align="center">
    <thead align="center">
        <tr>
            <th>Subject</th>
            <th>Title</th>
            <th>Author</th>
            <th>Date</th>
            <th>Download</th>
        </tr>
    </thead>
    <tbody align="center">
        <h1>{{ sub }}</h1>
        <p class="multi-button">
            <a href="upload?sub={{ id }} " class="btn btn-primary"><button>Upload File</button></a>
        </p>
        {% for file in files %}
        {% if file.subject == sub %}
        <tr>
            <td>{{ file.subject }}</td>
            <td>{{ file.title }}</td>
            <td>{{ file.author }}</td>
            <td>{{ file.date }}</td>
            <td>
                <a href="{{ file.resources.url }}" class="btn btn-primary btn-sm" target="_blank">
                  <button>Download File</button>
                </a>
            </td>
        </tr>
        {% endif %}
        {% endfor %}
    </tbody>
 </table>
{% endblock %}