{% extends 'base.html' %}

{% block content %}
 <table class="table">
    <thead>
        <tr>
            <th>Subject</th>
            <th>Title</th>
            <th>Author</th>
            <th>Download</th>
        </tr>
    </thead>
    <tbody>
        <h1>{{ sub }}</h1>
        <p>
            <a href="upload?sub={{ id }} " class="btn btn-primary">Upload File</a>
        </p>
        {% for file in files %}
        <tr>
            <td>{{ file.subject }}</td>
            <td>{{ file.title }}</td>
            <td>{{ file.author }}</td>
            <td>
                <a href="{{ file.resources.url }}" class="btn btn-primary btn-sm" target="_blank">
                    Download File
                  </a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
 </table>
{% endblock %}