{% extends 'base.html' %}

{% block content %}
{% load static %}

  <div class="row">
    <div class="col-lg-3 col-md-6 col-sm-6">
      <div class="card" style="height: 300px;width: 300px;display: flex;flex-direction: column;text-align: center;">
        <img src="{% static 'images/virtual.png' %}">
        <div class="container">
          <h4 class="card-title"><b>Bases de Dados</b></h4>
          <p>Architect & Engineer</p>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6">
      <div class="card" style="height: 300px;width: 300px;display: flex;flex-direction: column;text-align: center;">
        <img src="{% static 'images/virtual.png' %}">
        <div class="container">
          <h4 class="card-title"><b>Interação Humano-Computador</b></h4>
          <p>Architect & Engineer</p>
        </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6">
      <div class="card" style="height: 300px;width: 300px;display: flex;flex-direction: column;text-align: center;">
        <img src="{% static 'images/virtual.png' %}">
        <div class="container">
          <h4 class="card-title"><b>Arquitetura de Redes</b></h4>
          <p>Architect & Engineer</p>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6">
      <div class="card" style="height: 300px;width: 300px;display: flex;flex-direction: column;text-align: center;">
        <img src="{% static 'images/virtual.png' %}">
        <div class="container">
          <h4 class="card-title"><b>Projeto em Engenharia Informática</b></h4>
          <p>Architect & Engineer</p>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

