{% extends 'base.html' %}
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<body>
    <div class="row">
        <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="card card-stats">
                <h1 class="card-title">1º Semestre</h1>
                <div class="container">
                    <label class="container">MÉTODOS PROBABÍLISTICOS PARA ENGENHARIA INFORMÁTICA
                        <input type="checkbox">                 <!--checked="checked"-->
                        <span class="checkmark"></span>
                    </label>
                    <label class="container">PROGRAMAÇÃO III
                        <input type="checkbox">
                        <span class="checkmark"></span>
                    </label>
                    <label class="container">MECÂNICA E CAMPO ELECTROMAGNÉTICO
                        <input type="checkbox">
                        <span class="checkmark"></span>
                    </label>
                    <label class="container">ARQUITETURA DE COMPUTADORES I
                        <input type="checkbox">
                        <span class="checkmark"></span>
                    </label>
                </div>  
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="card card-stats">
                <h1>2º Semestre</h1>
                <div class="container">
                    <label class="container">SISTEMAS ELECTRÓNICOS
                        <input type="checkbox">
                        <span class="checkmark"></span>
                    </label>
                    <label class="container">ARQUITECTURA DE COMPUTADORES II
                        <input type="checkbox">
                        <span class="checkmark"></span>
                    </label>
                    <label class="container">LINGUAGENS FORMAIS E AUTÓMATOS
                        <input type="checkbox">
                        <span class="checkmark"></span>
                    </label>
                    <label class="container">ALGORITMOS E COMPLEXIDADE
                        <input type="checkbox">
                        <span class="checkmark"></span>
                    </label>
                </div>
            </div>
        </div>
    </div>
</body>
{% endblock %}