{% extends 'base.html' %}
{% block content %}

<body>

    <h1>1º Semestre</h1>
    <label class="container">LABORATÓRIOS DE INFORMÁTICA
        <input type="checkbox">                 <!--checked="checked"-->
        <span class="checkmark"></span>
    </label>
    <label class="container">PROGRAMAÇÃO I
        <input type="checkbox">
        <span class="checkmark"></span>
    </label>
    <label class="container">CÁLCULO I
        <input type="checkbox">
        <span class="checkmark"></span>
    </label>
    <label class="container">ÁLGEBRA LINEAR E GEOMETRIA ANALÍTICA
        <input type="checkbox">
        <span class="checkmark"></span>
    </label>
    <label class="container">INTRODUÇÃO AOS SISTEMAS DIGITAIS
        <input type="checkbox">
        <span class="checkmark"></span>
    </label>
    
    <h1>2º Semestre</h1>
    <label class="container">PROGRAMAÇÃO II
        <input type="checkbox">
        <span class="checkmark"></span>
    </label>
    <label class="container">CÁLCULO II
        <input type="checkbox">
        <span class="checkmark"></span>
    </label>
    <label class="container">MATEMÁTICA DISCRETA
        <input type="checkbox">
        <span class="checkmark"></span>
    </label>
    <label class="container">LABORATÓRIO DE SISTEMAS DIGITAIS
        <input type="checkbox">
        <span class="checkmark"></span>
    </label>

</body>
{% endblock %}