{% extends 'base.html' %}
{% block content %}

<form method="post">
{% csrf_token %}
    <p style="font-family: Arial, Helvetica, sans-serif; font-size: medium;margin-top: 50px;">Please select the courses that you are registered or check the resources of each subject.</p>
    {% if not logedin %}
        <p style="font-family: Arial, Helvetica, sans-serif; font-size: medium;margin-top: 0px;">Please login to select courses.</p>
    {% endif %}
    <div class="row" style="display: flex; justify-content: center; margin-top: 40px;align-items: stretch;">
        <div class="col-lg-3 col-md-6 col-sm-6" >
            <div class="card" style="border-radius: 1em; background-color: rgb(236, 235, 235);">
                <label class="container">
                    <h1 class="card-title">1º Semestre</h1>
                    {% for id, name in first_sem.items %}
                        <label class="container">
                            <input type="checkbox" name="subjects" value="{{ id }}" {% if id in selected %} checked {% endif %}>
                            <span class="checkmark"></span>
                            <a href="/resources?sub={{ id }}" style="text-decoration : none; color : #000000;">{{ name }}</a>
                        </label>
                    {% endfor %}
                </label>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="card" style="border-radius: 1em; background-color: rgb(236, 235, 235);">
                <label class="container">
                    <h1 class="card-title">2º Semestre</h1>
                    {% for id, name in second_sem.items %}
                        <label class="container">
                            <input type="checkbox" name="subjects" value="{{ id }}" {% if id in selected %} checked {% endif %}>
                            <span class="checkmark"></span>
                            <a href="/resources?sub={{ id }}" style="text-decoration : none; color : #000000;">{{ name }}</a>
                        </label>
                    {% endfor %}
                </label>
            </div>
        </div>

    </div>
        <div class = "multi-button" style="display: flex; justify-content: center;align-items: stretch; margin-top: 40px;">
            <button type="submit" onclick="clicked()">Submit Choices</button>
        </div>
</form>

<script type="text/javascript">
    function clicked() {
       if (confirm('Do you want to submit?')) {
           yourformelement.submit();
       } else {
           return false;
       }
    }

</script>
{% endblock %}

