{% extends 'base.html' %}
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<body>
    <div class="row">
        <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="card card-stats">
                <h1 class="card-title">1º Semestre</h1>
                <div class="container">
                    <label class="container">LABORATÓRIOS DE INFORMÁTICA
                    <input type="checkbox">
                    <!--checked="checked"-->
                    <span class="checkmark"></span>
                    </label>
                    <label class="container">PROGRAMAÇÃO I
                        <input type="checkbox">
                        <span class="checkmark"></span>
                    </label>
                    <label class="container">CÁLCULO I
                        <input type="checkbox">
                        <span class="checkmark"></span>
                    </label>
                    <label class="container">ÁLGEBRA LINEAR E GEOMETRIA ANALÍTICA
                        <input type="checkbox">
                        <span class="checkmark"></span>
                    </label>
                    <label class="container">INTRODUÇÃO AOS SISTEMAS DIGITAIS
                        <input type="checkbox">
                        <span class="checkmark"></span>
                    </label>
                </div>  
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="card card-stats">
                <h1>2º Semestre</h1>
                <div class="container">
                    <label class="container">PROGRAMAÇÃO II
                        <input type="checkbox">
                        <span class="checkmark"></span>
                    </label>
                    <label class="container">CÁLCULO II
                        <input type="checkbox">
                        <span class="checkmark"></span>
                    </label>
                    <label class="container">MATEMÁTICA DISCRETA
                        <input type="checkbox">
                        <span class="checkmark"></span>
                    </label>
                    <label class="container">LABORATÓRIO DE SISTEMAS DIGITAIS
                        <input type="checkbox">
                        <span class="checkmark"></span>
                    </label>
                </div>
            </div>
        </div>
    </div>
</body>
{% endblock %}