{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section" style="align-content: center; display: grid; justify-content: center;width: 400px;height: 500px;margin: 5em auto;border-radius: 1em;box-shadow: 0px 10px 20px 2px rgb(182, 203, 218);">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4" style="margin-bottom: 15%;">Sign Up</legend>
                {{ form|crispy }}
            </fieldset>
            <div class="multi-button">
                <button type="submit" style="margin-top: 30px; margin-bottom: 10px;">Submit</button>
            </div>
        </form>
        <div class="border-top pt-3">
            <small class="text-muted">
                Already Have An Account? <a class="ml-2" href="{% url 'login' %}">Login</a>               
            </small>
        </div>
    </div>
{% endblock content %}